body{
    background-color:BLACK;
    }

    h1{
        color:aqua;
    }
    heading{ 
        color:aqua;
    }
    h2{
        color:turquoise;
    }
    h3{
        color:turquoise;
    }
p{ 
    color:aqua;
}